:root {
	--CardFontSizeP: calc(3px + 1vw);
	--CardFontSizeA: calc(5px + 1.25vw);
	--CardFontSizeB: calc(5px + 1.5vw);
	--CardFontSizeH3: calc(5px + 2vw);
	--CardWidth: calc(100vw * 30/132);
}


#navbar-top {
    background-color: #303a44; 
}

body {  
	background-size: 100%;
}

.oradores {
    padding: 10px 0px;
}

.card{
    padding-block: 0px;
}

.color{
    color: green;
}

a {
    text-align:justify;
}
.contenedor{
    display: flex;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    height: 50%;
}
.convierte{
    display: grid;
    align-items:center;
    justify-content: center;
}
.contenedor-form{
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
}
.item{
    display: inline;
}
.info-texto{
    background-color: #353a40;
    display: flex;
    align-items: flex-start;
    text-align: start;
    padding: 20px 10px;
}

#descript{
    color: grey;
    padding-top: 10px;
    padding-bottom: 10px;

}

#fondo{
    background-color:rgb(54, 54, 56);
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-primary:hover{
    background: blue;
}

.card {
    width: 16rem;
}

.card-img-top{
    height: 15rem;
}

.btn_js{
    height: 1.2rem;
    width: 5rem;
    padding-top: 0px;
    font-size: 7.5pt;
    font-weight: bold;
    text-align: start;
}
.btn_react{
    height: 1.2rem;
    width: 3.3rem;
    padding-top: 0px;
    font-size: 7.5pt;
    font-weight: bold;
    text-align: start;
    color: white;
}

.btn_negocios{
    height: 1.2rem;
    padding-top: 0px;
    font-weight: bold;
    text-align: start;
    color: white;
}
.btn_start{
    height: 1.2rem;
    padding-top: 0px;
    font-weight: bold;
    text-align: start;
    color: white;
}

.datos{  
    padding-bottom: 10px;
}

#portada {
    filter: brightness(0.6);
}

#baires {
    filter: brightness(1.5);
    max-height: 50%;
    padding-top: 20%;
}

#nombre{
    padding-right: 10px;
}

#apellido{
    padding-left: 50px;
}

#comentario{
    padding-bottom: 10px;
}

#texto{
    padding-left: 256px;
    font-size: small;
}

#nav-footer{
    background-color: #254253;
} 
